<div class="cat">
	<a href="#" class="delete"><%= image_tag 'close_button_black_w30.png' %></a>
	<a href="#" class="goods-menu" data=<%= cat.title %> data-url='<%= cat.url %>' ><%= image_tag cat.img_name %></a>
</div>
